@charset "utf-8";

ul li {
    list-style: none;
}

.fl {
    float: left;
}

.tc {
    text-align: center;
}


.board {
    width: 950px;
}

.w70 {
    width: 70px;
}

.w500 {
    width: 500px;
}

.w120 {
    width: 120px;
}

.w100 {
    width: 100px;
}
